<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<!-- custom css AFTER bootstrap -->
	<link rel="stylesheet" href="/assets/css/cover.css">
	<link rel="stylesheet" href="/assets/css/monokai.css">

	<link rel="icon" type="image/png" href="/assets/favicon.png">
	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta name="description" content="{{ page.description }}">

	<!-- Facebook/Twitter/SEO -->
	<meta property="og:title" content="{{ page.title }}"/>
	{% if page.localimage %}<meta property="og:image" content="{{ site.url }}{{ page.url }}{{ page.localimage }}"/>{% elsif page.image %}<meta property="og:image" content="{{ site.url }}{{ page.image }}"/>{% endif %}
	<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
	<meta property="og:type" content="article">
	<meta property="og:site_name" content="{{ site.title }}"/>
	<meta property="og:description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}"/>

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="{{ site.twitter_url }}">
	<meta name="twitter:title" content="{{ page.title }}" />
	{% if page.localimage %}<meta name="twitter:image" content="{{ site.url }}{{ page.url }}{{ page.localimage }}" />{% elsif page.image %}<meta name="twitter:image" content="{{ site.url }}{{ page.image }}" />{% endif %}
	<meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
	<meta name="twitter:description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}" />

	<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ "/sitemap.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
