<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
	<header class="masthead mb-auto">
		<div class="inner">
			<h3 class="masthead-brand">{{ site.title | escape }}</h3>
			<nav class="nav nav-masthead justify-content-center">
				<a class="nav-link {% if page.url == '/index.html' %}active{% endif %}" href="{{site.baseurl}}/">Home</a>
				<a class="nav-link {% if page.url == '/me.html' %}active{% endif %}" href="{{site.baseurl}}/me.html">Me</a>
				<a class="nav-link {% if page.url == '/projects.html' %}active{% endif %}" href="{{site.baseurl}}/projects.html">Projects</a>
				<a class="nav-link {% if page.url contains '/bla' %}active{% endif %}" href="{{site.baseurl}}/bla/">Bla</a>
			</nav>
		</div>
	</header>
